/* Font connection */

@font-face {
    font-family: 'Jaapokkisubtract';
    src: url('../fonts/JaapokkisubtractRegular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/JaapokkisubtractRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/JaapokkisubtractRegular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/JaapokkisubtractRegular.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/JaapokkisubtractRegular.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/JaapokkisubtractRegular#svgFontName') format('svg'); /* Legacy iOS */
}

/* Specification */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #0001c5;
    letter-spacing: 0.06em;
}

div, p, span, a, input, button {
    box-sizing: border-box;
}

p {
    line-height: 1.7em;
}

.jpk-font {
    font-family: 'Jaapokkisubtract', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Jaapokkisubtract', sans-serif;
    letter-spacing: 0.14em;
    font-weight: normal;
    line-height: 1.25em;
}

.container {
    margin: 0 7%;
    position: relative;
}

.btn{
    font-family: 'Jaapokkisubtract', sans-serif;
    font-size: 20px;
    color: #fff;
    background: transparent;
    border: 3px solid #fff;
    cursor: pointer;
    padding: 17px 0;
    width: 220px;
    transition: all 0.3s;
}

.btn:hover {
    background: #fff;
    color: #0001c5;
    border-radius: 5px;
}

/* header */

.header {
    background: #0406bd url(../img/first_bg.jpg) no-repeat center bottom/cover;
    color: #fff;
    box-shadow: 0 40px 100px #6f6fa1;
}
.header .container {
    height: 100vh;
}

/* logo */

.logo {
    width: 50px;
    height: 50px;
    background: #fff;
    color: #0000a0;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.6;
    text-decoration: none;
    cursor: pointer;
    display: block;
    transition: all 0.4s;
    position: absolute;
    top: 7%;
}
.logo:hover {
    font-size: 35px;
    border-radius: 50%;
}

/* block brah */

.brah {
    background: #fff;
    font-size: 18px;
    color: #0000a0;
    text-align: center;
    width: 42px;
    height: 175px;
    padding: 10px 10px;
    position: absolute;
    top: 0;
    left: 55%;
}

/* hamburger */

/* .hamburger {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    top: 7%;
    cursor: pointer;
}

.hamburger__string {
    position: relative;
    transition: all 0.4s;
}

.hamburger__string div {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    left: 0;
    width: 50px;
    height: 2px;
    background: #fff;
}

.hamburger__string div::before {
    display: block;
    content: "";
    width: 35px;
    height: 2px;
    background: #fff;
    position: relative;
    top: 10px;
}
.hamburger__string div::after {
    display: block;
    content: "";
    width: 20px;
    height: 2px;
    background: #fff;
    position: relative;
    top: 20px;
} */

.hamburger {
    width: 50px;
    position: absolute;
    right: 0;
    top: 7%;
    float: right;
    cursor: pointer;
}

.hamburger span {
    background: #fff;
    display: block;
    height: 2px;
    margin-bottom: 6px;
    float: right;
    width: 100%;
    transition: all 0.4s;
}
.hamburger span:nth-child(1) {
    
}
.hamburger span:nth-child(2) {
    width: 75%;
}
.hamburger span:nth-child(3) {
    width: 50%;
}
.hamburger:hover span {
    margin-bottom: 15px;
}

/* bg offer */

.offer {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -250px;
}

.offer__bg {
    font-size: 300px;
    color: #1d1cc4;
    position: absolute;
}

.offer__title {
    font-size: 50px;
    position: relative;
    width: 540px;
    margin: 20% 25%;
}

.offer__title::before{
    content: "";
    display: block;
    width: 30px;
    height: 4px;
    background: #fff;
    position: absolute;
    top: -10px;
    right: 40%;
}

.offer__text {
    font-size: 17px;
    letter-spacing: 0.06em;
    width: 330px;
    margin-top: 35px;
    margin-left: 215px;
}

.offer__button {
    margin: 40px 0 0 320px;
}

/* next */

.next {
    font-size: 300px;
    text-shadow: 10px 10px 0 #0000a0;
    width: 400px;
    position: absolute;
    left: 65%;
    top: 50%;
    margin-top: -180px;
    line-height: 0;
}

.next span {
    margin-right: -70px;
    line-height: 0.7em;
}
.next span:nth-child(2) {
    font-size: 280px;
    color: #1d1cc4;
}

/* scroll */

.scroll {
    display: block;
    font-size: 22px;
    color: #fff;
    text-decoration: none;
    border-right: 3px solid #fff;
    cursor: pointer;
    width: 120px;
    height: 150px;
    padding: 20px 20px 0 10px;
    position: absolute;
    bottom: 0;
    left: 90%;
    transition: all 0.4s;
}

.scroll:hover {
    background: #fff;
    color: #0000a0;
}

/* servises */

.section-title {
    margin-top: 150px;
}
.section-title__intro {
    color: #a8a8e4;
    font-size: 23px;
}
.section-title__title {
    font-size: 85px;
    margin: -10px 0 100px 50px;
    letter-spacing: 0.07em;
}
.section-title__title::after {
    content: "";
    display: inline-block;
    right: 0;
    width: 30px;
    height: 5px;
    background: #0001c5;
    margin-bottom: -15px;
}

/* card */

.card {
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;
}
.card__item {
    text-decoration: none;
    display: block;
    width: 20%;
    border: 4px solid #0001c5;
    padding: 60px 0 0 55px;
    position: relative;
    transition: all 0.4s;
}
.card__item:hover {
    background: #0001c5;
    color: #fff;
    box-shadow: 15px 15px 30px #0001c5;
    border-radius: 4px;
}
.card__item:hover .card__more {
    background: #fff;
    color: #0001c5;
}

.icon {
    font-size: 48px;
}
.card__title {
    font-size: 26px;
    padding: 20px 0 110px 0;
}
.card__more {
    font-size: 26px;
    font-weight: 800;
    color: #fff;
    text-align: center;
    width: 31px;
    height: 31px;
    background: #0001c5;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
}
.card__index {
    position: absolute;
    font-size: 24px;
    color: #a8a8e4;
    top: 10%;
    left: -18%;
}

/* footer */

.footer {
    background: #ededf8;
    padding: 160px 0;
}
.footer__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}
.footer__logo {
    background: #0001c5;
    color: #fff;
    position: relative;
    top: auto;
}
.footer__link {
    text-decoration: none;
}
.footer__btn {
    border: 3px solid #0001c5;
    color: #0001c5;
    padding: 10px 7px;
}
